img{
  width: 70%;
  border: 2px solid black;
  display: block;
  margin: 25px;
  margin-left: auto;
  margin-right: auto;

}


header{
  color: #ffffff;
  text-align: center;
  background: #808080;
  padding: 10px;
  background-image: url("http://intro-webdesign.com/CSS/assignment-2/images/flywheel.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: absolute;
  background-size: 100%;
}

h1{
  text-transform: uppercase;
  text-align: center;
}

h2{
  color: #000000;
/*   text-transform: uppercase; */
}

.left{
  display: inline-block;
  background: #777613;
  border: 1px solid green;
  height: 100vh;
  width: 16%;
  float:left;

}

.right{
  display: inline-block;
  background: #ffffff;
  margin-left: 10px;
/*   float:right; */
  width: 75%;
  font-size: 130%
}

nav{
	font-variant: inherit;
	font-family:"Times New Roman", serif;
	font-size: 150%;
}

nav a{
	display: inline-block;
	background: #ffffff;
  opacity: 0.5;
	width:13%;
  text-decoration: none;
  color: black;
  margin: 40px;
  padding: 5px;
  border-radius: 5px;
}

abbr{
  text-decoration: none;
}
body{
  padding: 5px;
  margin: 10px;
}
.active{
  color: #0000ff;
  background-color: #ffffff !important;
  opacity: inherit;
}

table {

  margin: 0 auto;
  font-family: Helvetica;
  font-weight: inherit;
  width: 80%;
  text-shadow: 1px 0px #b9bab8;
/*   font-size: 22px; */
/*   line-height: 22px; */
/*   border-radius: 7px; */
/*   border-size: 2px; */
/*   border-color: green; */
}
table tr th{
  background: #92aa5a;
  color: #ffffff;
  background: linear-gradient(#92aa5a, #dc886c);
/*   border-sizing: border-box; */
  border-width: 1px 1px 2px;
  border-color: #b1e053;
  border-radius: 7px 7px 0px 0px;
  height: 40px;
}

table tr th:first-child, table tr td:first-child{
  text-align: left;
  padding: 5px;
}

table th {
  border: 1px solid transparent;


}
table tr td{
/*   font-family: Helvetica; */
  text-align: center;
  background: #e4f5d4;
  opacity: 0.8;
  color: #868686;
  border: 2px solid #ebf2e6;
  border-radius: 2px;

}

table tr td:hover{
  opacity: 1;
}
